/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.header {
  height: 110px;
  margin: auto;
  width: 80%;
}
.header h1 {
  display: inline-block;
  font-size: 2em;
  font-weight: 600;
  margin: 21px 0 0 0;
}
.header h5 {
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 1.5em;
}

.logo {
  float: left;
  width: 35%;
}

.logo__img {
  float: left;
  margin: 25px 10px 0 0;
  width: 3em;
}

.social {
  float: right;
  margin: 30px 0;
}

.social__in, .social__twitter, .social__skype, .social__fb, .social__mail {
  background: url("../img/social.png");
  float: left;
  height: 35px;
  margin-left: 20px;
  width: 35px;
}

.social__mail {
  background-position: 0 0;
}

.social__mail:hover {
  background-position: 0 419px;
}

.social__fb {
  background-position: -35px 0;
}

.social__fb:hover {
  background-position: -35px 419px;
}

.social__skype {
  background-position: -70px 0;
}

.social__skype:hover {
  background-position: -70px 419px;
}

.social__twitter {
  background-position: -105px 0;
}

.social__twitter:hover {
  background-position: -105px 419px;
}

.social__in {
  background-position: -140px 0;
}

.social__in:hover {
  background-position: -140px 419px;
}

.main-nav {
  background-color: #35383c;
  height: 55px;
  margin: auto;
  width: 80%;
}
.main-nav p {
  float: left;
  height: 55px;
  line-height: 55px;
}
.main-nav a {
  color: #fff;
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 35px;
  text-decoration: none;
}
.main-nav a:hover {
  color: #f4b60d;
}

.main-nav_blue {
  background-color: #248cec;
  text-align: center;
  width: 120px;
}
.main-nav_blue a {
  margin: 0;
  text-align: center;
}

.slider {
  margin: 30px 0;
  position: relative;
}

.carousel {
  height: 500px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 80%;
}

.carousel-list {
  margin-left: 0;
  width: 999999px;
}

.carousel-item1 {
  background: url("../img/top_bgrnd1.jpg") -360px -225px;
  float: left;
  height: 500px;
  width: 1024px;
}

.carousel-item2 {
  background: url("../img/top_bgrnd2.jpg") -360px -225px;
  float: left;
  height: 500px;
  width: 1024px;
}

.carousel-item3 {
  background: url("../img/top_bgrnd3.jpg") -150px 0px;
  float: left;
  height: 500px;
  width: 1024px;
}

.slogan {
  left: 15%;
  position: absolute;
  top: 70%;
}
.slogan p {
  background: #35383c;
  font-size: 2em;
  width: min-content;
  color: #fff;
  padding: 1px 9px;
}
.slogan p span {
  color: #f4b60d;
}

.cover {
  height: 500px;
  position: absolute;
}
.cover table {
  height: 500px;
  width: 1024px;
}

.cover__td {
  border: 1px solid rgba(255, 255, 255, 0.4);
  height: 33.33%;
  width: 20%;
}

.cover__td:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.adv {
  height: 210px;
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.adv__in {
  width: 33.33%;
}

.adv__num {
  color: #cfd1d4;
  float: left;
  font: bold 4em Arial sans-serif;
  margin-top: -16px;
  width: 20%;
}

.adv__content {
  box-sizing: border-box;
  float: left;
  padding: 0px 10px 0px 20px;
  width: 70%;
  width: 80%;
}
.adv__content a {
  color: black;
  display: block;
  font-weight: bold;
  margin-top: 10px;
  text-align: right;
  text-decoration: #35383c;
}
.adv__content a:hover {
  color: #248cec;
}

.adv__content_head {
  font-weight: bold;
  margin-top: 10px;
}

.adv__content_text1,
.adv__content_text2,
.adv__content_text3 {
  height: 47px;
  margin-top: 10px;
  overflow: hidden;
  text-align: justify;
}

.adv__content_text-visible {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 5px black;
  /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
  box-shadow: 2px 2px 5px black;
  /* Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+ */
  background: rgba(255, 255, 255, 0.8);
  height: 255px;
  padding: 15px;
  position: absolute;
  transition: height 1s, background 1s, padding 1s, border-radius 1s, box-shadow 1s;
  width: 17%;
  z-index: 9;
}

.adv__content-more {
  font-weight: bold;
}

.adv__img-truck, .adv__img-param, .adv__img-set {
  background: url("../img/social.png");
  height: 35px;
  width: 35px;
}

.adv__img-set {
  background-position: -176px -39px;
}

.adv__img-param {
  background-position: -176px 0px;
}

.adv__img-truck {
  background-position: -215px 0px;
}

.services-bgrnd {
  height: 360px;
  background-color: #4d5157;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  width: 80%;
}
.services p {
  color: #fff;
  font-family: sans-serif;
  font-size: 1.5em;
  padding: 25px 0px;
  width: 100%;
}

.services__block {
  box-sizing: border-box;
  height: 260px;
  overflow: hidden;
  position: relative;
  width: 23%;
}
.services__block img {
  height: 200px;
}
.services__block p {
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}

.services__cover {
  height: 200px;
  margin: auto;
  position: absolute;
  width: 100%;
}
.services__cover p {
  cursor: pointer;
  display: none;
  font-size: 5em;
  font-weight: normal;
  line-height: 2.5em;
  padding: 0;
}

.services__cover:hover {
  background-color: rgba(36, 140, 236, 0.5);
}
.services__cover:hover p {
  display: block;
}

.services__cover:hover ~ p {
  color: #f4b60d;
}

.news-banners {
  background-color: #f7f7f7;
  height: 500px;
  margin: auto;
  padding-bottom: 30px;
  width: 80%;
}
.news-banners h2 {
  font-family: sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  margin: 30px 0;
}

.news {
  width: 50%;
  height: 436px;
  float: left;
}

.news__block {
  position: relative;
  margin-bottom: 15px;
}

.news__img {
  float: left;
  height: 11vw;
  overflow: hidden;
  width: 11vw;
}

.news__img_day, .news__img_mounth {
  height: 40px;
  left: -20px;
  position: absolute;
  width: 40px;
}
.news__img_day p, .news__img_mounth p {
  font-family: sans-serif;
  font-weight: bold;
  margin: auto;
  width: max-content;
}

.news__img_mounth {
  background-color: #248cec;
  top: 20px;
}
.news__img_mounth p {
  color: #fff;
  font-size: 1em;
  line-height: 2.5em;
}

.news__img_day {
  background-color: #f4b60d;
  top: 60px;
}
.news__img_day p {
  color: #35383c;
  font-size: 1.5em;
  line-height: 1.6em;
}

.news__text {
  float: left;
  width: 25vw;
  padding: 0 15px;
}
.news__text h2 {
  font-family: sans-serif;
  font-size: 1em;
  font-weight: 700;
  white-space: pre-wrap;
}
.news__text p {
  font-family: sans-serif;
  padding-top: 10px;
  color: #7d848d;
}
.news__text p span {
  color: #248cec;
  font-weight: bold;
  cursor: pointer;
}

.banners {
  width: 50%;
  height: 436px;
  float: left;
}

.banners__item {
  width: 100%;
}

.banners__acrdPnl, .banners__openPnl {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  float: left;
  height: 3vw;
  margin-bottom: 3px;
  text-align: center;
  line-height: 2.4em;
  font-weight: bold;
}

.banners__openPnl {
  width: 3vw;
  margin-right: 3px;
}

.banners__acrdPnl {
  width: 36vw;
}

.banners__item_content {
  line-height: normal;
  text-align: left;
  padding: 50px 0 10px 30px;
  display: none;
}

.partners {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.partners6, .partners5, .partners4, .partners3, .partners2, .partners1 {
  height: 62px;
  width: 143px;
}
.partners6 a, .partners5 a, .partners4 a, .partners3 a, .partners2 a, .partners1 a {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.partners1 {
  background: url("../img/social.png") 0px -75px;
}

.partners2 {
  background: url("../img/social.png") 0px -137px;
}

.partners3 {
  background: url("../img/social.png") 0px -201px;
  height: 64px;
  width: 184px;
}

.partners4 {
  background: url("../img/social.png") 0px -263px;
}

.partners5 {
  background: url("../img/social.png") 0px -325px;
}

.partners6 {
  background: url("../img/social.png") 0px -387px;
}

footer {
  background-color: #35383c;
}
footer h3 {
  color: #fff;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  padding: 30px 0px;
}

.footer__links {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 80%;
}
.footer__links ul {
  padding-bottom: 30px;
}
.footer__links li {
  border-top: 1px solid #7d848d;
  padding: 10px 0;
  width: 15vw;
}
.footer__links li:first-child {
  border-top: none;
}
.footer__links a {
  color: #7d848d;
  font-family: sans-serif;
  font-size: 1em;
  text-decoration: none;
}
.footer__links a:hover {
  color: #248cec;
}

.footer__info {
  background-color: #4d5157;
}
.footer__info p {
  color: #7d848d;
  font-family: sans-serif;
  font-size: 1em;
  margin: auto;
  padding: 10px 0;
  width: max-content;
}

/*# sourceMappingURL=main.css.map */
